# Vehicle Maintenance Scheduler Environment Variables
# Copy this file to .env and fill in your credentials

# Auth Server
AUTH_BASE_URL=http://20.207.122.201/evaluation-service

# Your Credentials (from registration)
CLIENT_EMAIL=biswakalyan.hota@silicon.ac.in
CLIENT_NAME=biswa kalyan
CLIENT_ROLL_NO=22cs3fh010
CLIENT_ACCESS_CODE=QkbpxH
CLIENT_ID=b73f1112-5aa7-4c1b-8062-a795be239c75
CLIENT_SECRET=TKwkXzKVZcFBjJbj

# Server
PORT=3000
